// header
/*!========== Header ========*/
.site-logo svg {
    width: 108px;
    height: 29px;

    @include responsive(mobile) {
        width: 75.5px;
        height: 20px;
    }
    @include responsive(mobile) {
        width: 75.5px;
        height: 20px;
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: $white-bg-color;
    padding-top: 2.2rem;
    padding-bottom: 2.1rem;

    &__container {
        display: flex;
        align-items: center;
        gap: 5.818rem;

        @include responsive(maxwidth_700px) {
            gap: 10rem;
        }
    }
}
