// colors
$primary-text-color-yellow: #fcb72b;
$dark-navy-text-color-495567: #495567;
$dim-grey-text-color-939caa: #939caa;
$light-grey-text-e5ecf4: #e5ecf4;
$snow-text-color-f2f5f9: #f2f5f9;
$light-yellow-text-color-fff4df: #fff4df;
$white-text-color: #fff;

// bg color
$primary-bg-color-yellow: #fcb72b;
$dark-navy-bg-color-495567: #495567;
$dim-grey-bg-color-939caa: #939caa;
$light-grey-bg-e5ecf4: #e5ecf4;
$snow-bg-color-f2f5f9: #f2f5f9;
$light-yellow-bg-color-fff4df: #fff4df;
$white-bg-color: #fff;
$main-bg-color: #f2f2f2;

$header-height: 9.6rem;
